
#projects > h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1a237e;
    margin-bottom: 2rem;
}
#projects {
    margin-top: 5%;
    padding: 0 1rem;
}

#projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
    place-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.project > img {
    width: 97%;
    border-radius: 5px;
    height: auto;
    object-fit: cover;
}
.project{
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

#project-links{
    display: flex;
    justify-content: space-around;
}
#project-links > a{
    text-decoration: none;
    color: #1a237e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap: 10px;
}


